.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
test/**
.yarn/**
.yarnrc.yml
fz6m.vscode-virtual.cache
vscode-virtual-*.vsix
biome.json
.prettierrc
